<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text="${title}">Base Page</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
	integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/signup.css}">
<link rel="stylesheet" th:href="@{/css/login.css}">
<link rel="stylesheet" th:href="@{/css/userDashboard.css}">
<link rel="stylesheet" th:href="@{/css/userDashboard.css}">
<link rel="stylesheet" th:href="@{/css/contact_details.css}">
</head>
<body>


	<!--Nav bar  START-->
	<nav class=" navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"><i class="fa-brands fa-contao"></i></a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">

					<li class="nav-item"><a class="nav-link " aria-current="page"
						th:href="@{/user/add-contact}">Add Contact</a></li>

					<li class="nav-item"><a class="nav-link " aria-current="page"
						th:href="@{/about}">Remove Contact</a></li>

					<li class="nav-item"><a class="nav-link " aria-current="page"
						th:href="@{/user/view-contacts/0}">View Contacts</a></li>


					<li class="nav-item"><a class="nav-link " aria-current="page"
						th:href="@{/}">Home</a></li>

					<li class="nav-item"><a class="nav-link " aria-current="page"
						th:href="@{/about}">About</a></li>

				</ul>
				<form class="d-flex">
					<input class="form-control me-2" type="search" placeholder="Search"
						aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Search</button>
				</form>
			</div>
		</div>
	</nav>
	<!--Nav bar  END-->


	<!-- Main content START -->
	<div class="content mt-5 pt-4">
	
		<!-- Alert message START -->
		<div th:if="${session.msg}" th:classappend="${session.msg.type}"
			class="text-center alert " role="alert">
			<span th:text="${session.msg.content}"></span>
			<th:block th:text="${httpSession.removeAttribute('msg')}">
			</th:block>
		</div>
		<!-- Alert message END -->
		
	</div>
	
	
		<!-- MAin content START-->
		<section>
			<div th:if="${contact}" id="home" class="first_page">
				<div class="wrapper">
					<div class="header header_home">Hi, I'm <span th:text="${contact.name}"> </span></div>
					<div class="content content_home">
					
					<div >
					<i class="fa-solid fa-envelope icon"></i>
					<span class="icon" th:text="${contact.email}"></span>
					</div>
					
					<div >
					<i class="fa-solid fa-phone"></i>
					<span class="icon" th:text="${contact.phone}"></span>
					</div>
					
					<div>
					<i class="fa-solid fa-briefcase"></i>
					<span class="icon" th:text="${contact.work}"></span>
					</div>
					
					<div>
					<i class="fa-sharp fa-solid fa-circle-info"></i>
						<span class="icon" th:text="${contact.about}"></span>
					</div>
					
					</div>
					<div class="image" > <img th:src="@{'/images/'+ ${contact.imageUrl}}" alt="" /></div>
				</div>
			</div>
			<div th:unless="${contact}" class="position-absolute top-50 start-50 translate-middle profile_notfound">
				<i class="fa-solid fa-face-sad-tear fa-shake fa-2xl" style="font-size: 60px;"></i><br>
				<span class="profile_notfound_text">Oops Sorry !</span>
				<span>Contact not Found.</span>
			</div>

		</section>
		<!-- MAin content END -->
		
		
			<!-- Main content END -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"
		integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
		crossorigin="anonymous"></script>
	<script type="text/javascript" th:src="@{/js/myjs.js}"></script>
</body>
</html>