@charset "ISO-8859-1";
/* User dash-board related CSS */

@media only screen and (max-width:600px){
	.sidebar{
	display:none;
	width: 80%;
	height: 100%;
	position: fixed;
	padding-top: 20px;
	margin-top:1px;	
    background-color:  #12171e;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
	}
	.content{
	margin-left: 0% !important;	
	}
}

.card{
	border: none;
}
