<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section class="banner d-flex justify-content-center align-items-center ">
<div class=" text-center">
<h1>Contact Manager</h1>
<pre>Do you fear losing your contacts ?
Always wished to backup your contacts and don't want to lose your data ! ,
Smart Contacts is a contact manager application designed so that you can access contacts anywhere quickly.</pre>
<button class="btn btn-outline-info">Getting started</button>
</div>
</section>
</body>
</html>